.radio-station {
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}
.standart-theme {
  background: linear-gradient(135deg, rgb(85, 175, 138), rgb(20, 99, 73));
}
.gray-theme {
  background: linear-gradient(135deg, rgb(163, 163, 163), rgb(116, 114, 114));
}
.red-theme {
  background: linear-gradient(135deg, rgb(196, 85, 85), rgb(167, 66, 66));
}
.content {
  padding-top: 65px;
  min-height: 100vh; 
}
@media screen and (min-width: 776px) {
  .content {
    padding-top: 100px; 
  }
}
audio {
  width: 100%;
}
